// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@font-face {
   font-family: Russo One;
   src: url(/assets/fonts/RussoOne-Regular.ttf);
}
@font-face {
   font-family: Ubuntu bold;
   src: url(/assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
   font-family: Montserrat;
   src: url(/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
   font-family: PressStart2P;
   src: url(/assets/fonts/PressStart2P-Regular.ttf);
}
@font-face {
   font-family: TrainOne;
   src: url(/assets/fonts/TrainOne-Regular.ttf);
}

@font-face {
   font-family: Ubuntu regular;
   src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

.footer-col-wrapper {
   font-family: Montserrat;
}

.post-content {
   width: 1120px;
}

code {
   font-family: Montserrat;
   background-color: #55A395;
   font-size: 16px;
}

blockquote {
   border-left: 4px solid #3B5879;
   color: #f9f9f9;
}

.site-footer {
   padding: 0;
   padding-top: 30px;
   background: #3B5879;
   border-top: 1px solid #000000;
}
.footer-col-wrapper, .social-links {
   /* position: absolute; */
   width: 1120px;
   /* height: 204px; */
   /* left: 397px; */
   /* top: 883px; */
   font-size: 18px;
   color: #000000;
}
.site-header {
   background: #3B5879;
   border: 1px solid #000000;
   box-sizing: border-box;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   /* border-top: 5px solid #424242; */
   /* border-bottom: 1px solid #e8e8e8; */
   min-height: 62px;
   /* line-height: 54px; */
   position: relative;
}
.elipse {
   position: absolute;
   left: 21.61%;
   right: 77.19%;
   top: 7.87%;
   /* bottom: 90%; */
   background: #55A395;
   border: 1px solid #000000;
   box-sizing: border-box;
   width: 2em;
   margin: 1em auto;
   border-radius: 50%;
   

}
   .elipse::before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   padding-top: 100%;
   }

.site-title {
   //position: absolute; 

   //width: 746px;
   //height: 43px;
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   position: absolute;
   width: 257px;
   height: 43px;
   left: 693px;
   top: 8px;

   background: #55A395;
   border: 1px solid #000000;
   box-sizing: border-box;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
   font-family: Montserrat;
   font-size: 18px;
   //line-height: 43px;
   letter-spacing: 0;
   
   //text-align: left;
}

@media (max-width: 700px) {
   .chapter-title {max-width: 330px;max-height: 100%;padding: 10px; }
   .nav-trigger {display: none;}
   .site-title { font-size: 20px;}
   .pdf { font-size: 20px;}
   .post-meta_my {columns: 1 !important;}
 }

.site-title, .site-title:visited {     
   //-webkit-text-stroke: #000000 1px;
   color: #000000;
}
   
.site-title:hover {
   text-decoration: none;      
   color: #f9f9f9;
}

.pdf, .pdf:visited {
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   position: absolute;
   width: 257px;
   height: 43px;
   left: 970px;
   top: 8px;

   background: #3B5879;
   border: 1px solid #000000;
   box-sizing: border-box;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
   //-webkit-text-stroke: #E3792C 1px;
   color: #000000;
   text-align: right;
   font-family: Montserrat;
   
   font-size: 18px;
}

.pdf:hover {
   
  // text-decoration: none;      
  // color: #E3792C;
}


main.page-content {
   font-family: Montserrat;
   //background: linear-gradient(45deg,rgba(227, 121, 44, 0) 48%,rgba(227, 121, 44, 0.2) 50%,rgba(227, 121, 44, 0) 52%),linear-gradient(-45deg,rgba(227, 121, 44, 0) 48%,rgba(227, 121, 44, 0.2) 50%,rgba(227, 121, 44, 0) 52%);
   // background-size: 1em 1em;
   background: #698CB6;
}

body, html
{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   
   font-size: 16px;
   font-family: helvetica, arial;
   background: #f9f9f9;
   color: #000000;
}
 
.wrapper
{
   
   width: 100%;
   height: 100%;
   display: table;
}
 
.main
{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
}
 
.quiz-frame
{
   border: 0;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
.quiz__head
{
   font-size: 20pt;
   margin: 10px;
   margin-bottom: 50px;
}
 
.head__content
{
   padding: 5px;
}
 
.quiz__body
{
   margin: 10px;
}
 
.quiz__footer
{
   position: absolute;
   bottom: 0;
   display: block;
   width: 100%;
}
 
.footer__content
{
   padding: 5px;
}
 
.button
{
   border: 0;
   border-radius: 10px;
   background: #3B5879;
   color: #fff;
   padding: 10px 25px;
   width: 70%;
   font-size: 15pt;
   display: block;
   margin: 2px auto;
   cursor: pointer;
}
 
.button_wrong
{
   background: #EB6465;
}
 
.button_correct
{
   background: #5EB97D;
}
 
.button_passive
{
   background: #3B5879;
}

.chapter-title:hover {
   background: #3B5879;
   color: #f9f9f9;
}

.chapter-title { 
   //box-shadow: 0px 4px 11px -5px rgba($color: #000000, $alpha: 0.3);
   //margin-bottom: 10px;
   //position: absolute;
   //width: 752px;
   //height: 109px;
   margin-bottom: 10px;
   cursor: pointer;
   width: 1120px;
   height: 52px;
   left: 397px;
   top: 330px;

   background: #698CB6;
   border: 1px solid #000000;
   box-sizing: border-box;
   box-shadow: 3px 4px 4px rgba(53, 69, 88, 0.65);
   border-radius: 4px;
   //background: #7B6A97;
   //border-radius: 10px;
   font-family: Montserrat;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   align-items: center;
   text-align: center;
   text-shadow: 3px 4px 4px rgba(53, 69, 88, 0.65);
   color: #000000;
   //color: #E7DFF5;
   justify-content: center;
   align-items: center;
}

.my-list {
   counter-reset: a;
}

.my-list-item {
   counter-increment: a;
}

//.post-list_title { margin-left: 0; list-style: none; counter-reset: zxc;     }
//.post-list_title:before { counter-increment: zxc; content: counter(zxc) ". "}

.post-meta_my { font-size: 20px; color: #828282; list-style: none; 
    padding: 0;
    margin: 0;
    //counter-reset: b;
    margin-bottom: 24px;
    list-style-type: none;
    column-gap: 10px;
    columns: 1;
}

a {
    color: #FFFFFF  ;
}

a:visited{
    color: #FFFFFF ;
}

a:hover {
   color: #000000;
   text-decoration: none;
}

a:active {
    color: #000000 ;
}

.post-meta_my{
   counter-reset: b;
}


li {
   counter-increment: b;
}
li:before{
   content: "";
}
.post-link_my {
   text-shadow: 3px 4px 4px rgba(53, 69, 88, 0.65);
   font-family: Montserrat;
    //padding: 10px;
    width: 100%;
    //position: absolute;
    //display: block; 
    font-size: 18px; //counter-reset: zxc2;
}
//.post-link_my:before {counter-increment: zxc2; content: counter(zxc) "." counter(zxc2) ". ";;}
.post-link_my:before{
   content: counter(a) "." counter(b) " ";
}


.post-meta_post {
    font-size: 18px; 
    color: #181717;
    text-align: left;
    border-bottom: 1px solid #3B5879 ; 
}

.post-title {
    font-size: 30px;
    text-align: center;
}

.image {
    text-align: center;
}

  .PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
  }
  
  .PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .PageNavigation .next {
    text-align: right;
    color: #000000;
  }
  .PageNavigation .prev {
    color: #000000;
  }
