// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.chapter-title {
    text-align: center;
    border-bottom: 1px #828282 solid;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
}

.post-list_title { margin-left: 0; list-style: none; counter-reset: zxc;     
}
.post-list_title:before { counter-increment: zxc; content: counter(zxc) ". "}

.post-meta_my { font-size: 20px; color: #828282; list-style: none; 
    padding: 0;
    margin: 0;
    counter-reset: b;
    margin-bottom: 24px;
    list-style-type: none;
    column-gap: 10px;
    columns: 2;
}

.post-link_my { display: block; font-size: 18; counter-reset: zxc2;}
.post-link_my:before {counter-increment: zxc2; content: counter(zxc) "." counter(zxc2) ". ";;}



.post-meta_post {
    font-size: 18px; 
    color: #181717;
    text-align: left;
    border-bottom: 1px solid #181717 ; 
}

.post-title {
    font-size: 30px;
    text-align: center;
}

.image {
    text-align: center;
}

  .PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
  }
  
  .PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .PageNavigation .next {
    text-align: right;
  }